.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
}

.search-button {
  background-color: #FF5A5F;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #E1464D;
}

.clear-button {
  background-color: #FF5A5F;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.clear-button:hover {
  background-color: #E1464D;
}